<!-- templates/app/paciente_form.html -->
<div class="container mx-auto p-4 max-w-lg">
    <h2 class="text-3xl font-bold mb-6">{% if form.instance.pk %}Editar{% else %}Crear{% endif %} Paciente</h2>
    
    <form method="post" class="bg-white p-6 rounded-lg shadow-md">
        {% csrf_token %}
        
        {% for field in form %}
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">{{ field.label_tag }}</label>
            {{ field }} <!-- Renderiza el input con las clases 'form-control' de forms.py -->
            {% if field.errors %}
                <div class="text-red-500 text-xs italic mt-1">{{ field.errors }}</div> <!-- Mensajes de validación -->
            {% endif %}
        </div>
        {% endfor %}

        <button type="submit" class="w-full bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 mt-4">Guardar</button>
    </form>

    <a href="{% url 'paciente_list' %}" class="block text-center mt-4 text-blue-500 hover:text-blue-700">Volver al Listado</a>
</div>